*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
   
}


table{
    width: 100%;
}

button.mat-raised-button{
    background-color:rgb(54, 128, 6);
}

.mat-elevation-z4{

margin: 0 auto;
text-align: center;
border: black 10px solid;
margin: 2%;
}

button{
    margin-top: 20px;
    margin-left: 100px;
    border: salmon 2px solid;
}